<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Registration</h1>
<form th:action="@{/auth/register}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{user.name}" autofocus="autofocus">
    <small th:each="err:${#fields.errors('name')}">Validation error</small>
    <br>
    <label for="password">Password</label>
    <input type="text" id="password" th:field="*{user.password}" autofocus="autofocus">
    <small th:each="err:${#fields.errors('password')}">Validation error</small>
    <br>
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" id="confirmPassword" th:field="*{user.confirmPassword}" autofocus="autofocus">
    <small th:each="err:${#fields.errors('confirmPassword')}">Validation error</small>
    <br>
    <br>
    <div class="form-group">
        <select class="form-control" id="dropCompany">
            <option value="0">Select company</option>
            <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.name}"></option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <select class="form-control" id="dropRole">
            <option value="0">Select role</option>
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>
    </div>
    <br>
    <input type="submit" value="Register">
</form>
</body>
</html>